
.form-container {
    max-width: 400px;
    margin: auto;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .form-textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .form-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .form-button {
    margin-left: .5rem;
    margin-top: .5rem;
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
  }
  